@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: rgb(255, 0, 0);
}

.xmascard{
    max-width: 100%;
    max-height: 100%;
    width:auto;
    height:auto;
}
h2{
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}
